<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <style><%= css %></style>
    <title><%= project.name.toUpperCase() %> Command List</title>
</head>
<body>
    <div class="py-10 max-w-2xl mx-auto">
        <h1 class="px-3 font-black leading-none text-6xl mt-10 mb-8">🐰<%= project.name.toUpperCase() %>!</h1>
        <table class="text-left w-full h-full sm_px-4">
            <thead class="uppercase text-xs text-gray-700 tracking-wide">
                <tr>
                    <th class="p-3">Keyword</th>
                    <th class="p-3">Description</th>
                </tr>
            </thead>
            <tbody>
            <% Object.entries(config).filter(kv => kv[1].docstring).map(kv => { %>
                <tr class="odd:bg-gray-100">
                    <% if (kv[0] === DEFAULT_CONFIG_KEY) { %>
                    <td class="p-3"><em>By default, <%= project.name %></em></td>
                    <% } else { %>
                    <td class="p-3 align-text-top"><strong><%= kv[0] %></strong></td>
                    <% } %>
                    </td>
                    <td class="p-3 align-text-top"><%= kv[1].docstring %></td>
                </tr>
            <% }); %>
            </tbody>
        </table>
        <p class="px-3 mt-10 text-gray-500 text-sm">See source code here</p>
    </div>
</body>
</html>